#############################################################################
#
# JSON cannot have comments so be sure to remove this!!!
#
# mentionName should be the @ mention name of your bot
# hipchatRoomsToJoin is a list of XMPP/Jabber conference ids
# hipchatUser is the XMPP/Jabber ID of your bot's account
# 
# The tracker settings, hopefully, have obvious definitions
# At this moment in time, only one tracker at a time is supported
#
#############################################################################
{
  "debug" : false,
  "mentionName": "bubobot",
  "hipchatRoomsToJoin": ["HIPCHAT JABBER ROOM ID@conf.hipchat.com",
                         "ANOTHER ROOM@conf.hipchat.com",
                         "THIRD ROOM@conf.hipchat.com"],
  "hipchatUser": "HipChat ID HERE @chat.hipchat.com",
  "hipchatPassword": " YOUR HIPCHAT PASSWORD HERE",
  "jiraBrowseUrl": "https://something.atlassian.net/browse/",
  "jiraHostname": "something.atlassian.net",
  "jiraUsername": " JIRA USERNAME HERE USUALLY firstlast",
  "jiraPassword": " JIRA PASSWORD HERE ",
  "jiraProjectRe": "((?:ABC|DEF|HIJ)-[0-9]+)",
  "tracker": "bitbucket",
  "bitBucketUrl": "https://bitbucket.org/someone/",
  "bbUsername": "USERNAME OF USER WITH ACCESS",
  "bbPassword": "MySuperS3cr3tPassw0rd",
  "bbOwner": "someone",
  "bbProjectRe": "((?:repo1|repo2|repo3)-[0-9]+)"
}

