/* Keep outside of GitHub! */
var config = {
  hipchatRoomsToJoin: [' HIPCHAT JABBER ROOM ID@conf.hipchat.com', // see XMPP/Jabber page on your account
                       ' ANOTHER ROOM@conf.hipchat.com',
                       ' THIRD ROOM@conf.hipchat.com'],
  hipchatUser: 'HipChat ID HERE @chat.hipchat.com', // see XMPP/Jabber page on your account
  hipchatPassword: ' YOUR HIPCHAT PASSWORD HERE',

  jiraBrowseUrl: 'https://something.atlassian.net/browse/',
  jiraHostname: 'something.atlassian.net',
  jiraUsername: " JIRA USERNAME HERE USUALLY firstlast",
  jiraPassword: " JIRA PASSWORD HERE ",

  // Regular expression that matches the your JIRA project keys
  jiraProjectRe: /((?:ABC|DEF|HIJ)-[0-9]+)/g

  // These options are for BitBucket, not required for JIRA in any way.
  //tracker: "bitbucket",
  //bitBucketUrl: 'https://bitbucket.org/someone/',
  //bbUsername: "USERNAME OF USER WITH ACCESS",
  //bbPassword: "MySuperS3cr3tPassw0rd",
  //bbOwner: "someone", // This is generally the same as the first part of the URI. Probably inefficient.

  // Regular expression that matches the your repo name(s)
  //bbProjectRe: /((?:repo1|repo2|repo3)-[0-9]+)/g
};

module.exports = config;
